<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:config="http://www.sds.samsung.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.sds.samsung.com/schema/service http://www.sds.samsung.com/schema/service/anyframe-service-2.0.xsd"
	>
	<bean
		id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- anyframe message -->
				<value>anyframe/core/properties/messages/properties</value>
				<value>anyframe/core/idgen/messages/idgeneration</value>
				<value>anyframe/core/process/messages/process</value>
				<value>anyframe/core/adaptormanager/messages/adaptormanager</value>
				<value>anyframe/core/query/messages/query</value>


				<!-- business -->
				<value>classpath:messages/message_common</value>
				<value>classpath:messages/message_hn</value>
				<value>classpath:messages/message_ho</value>
			</list>
		</property>
	</bean>
</beans>
