<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:config="http://www.sds.samsung.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.sds.samsung.com/schema/service http://www.sds.samsung.com/schema/service/anyframe-service-2.0.xsd"
	default-lazy-init="true">

	<!-- =========================================== -->
	<!-- Tech Doc Managements Service			 	 -->
	<!-- =========================================== -->
	<bean id="Tech3gDocService" class="tech3g.fk.apps.doc.services.impl.Tech3gDocSearchServiceImpl"
			parent="baseService">
	</bean>

	<bean id="Tech3gDocRegiService" class="tech3g.fk.apps.doc.services.impl.Tech3gDocRegiServiceImpl"
			parent="baseService">
	</bean>

	<bean id="Tech3gDocUserService" class="tech3g.fk.apps.doc.services.impl.Tech3gDocUserServiceImpl"
			parent="baseService">
	</bean>

	<bean id="Tech3gDocBatchService" class="tech3g.fk.apps.doc.services.impl.Tech3gDocBatchServiceImpl"
			parent="baseService">
	</bean>

	<bean id="Tech3gUserManagerService" class="tech3g.fk.apps.doc.services.impl.Tech3gUserManagerServiceImpl"
			parent="baseService">
	</bean>

</beans>