<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:config="http://www.sds.samsung.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.sds.samsung.com/schema/service http://www.sds.samsung.com/schema/service/anyframe-service-2.0.xsd"
	>

	<!-- ========================================== -->
	<!--  COAJSrchDao (AJAX関連)							-->
	<!-- ========================================== -->
	<bean id="COAJSrchDao"
		class="tech3g.common.dao.impl.COAJSrchDaoImpl" parent="baseDAO">
	</bean>


	<!-- ========================================== -->
	<!--  COMNAuditDao (システム監視情報)			-->
	<!-- ========================================== -->
	<bean id="COMNAuditDao"
		class="tech3g.common.dao.impl.COMNAuditDaoImpl" parent="baseDAO">
	</bean>

	<!-- ========================================== -->
	<!--  COMNExclusionDao (排他制御)				-->
	<!-- ========================================== -->
	<bean id="COMNExclusionDao"
		class="tech3g.common.dao.impl.COMNExclusionDaoImpl" parent="baseDAO">
	</bean>


	<!-- ========================================== -->
	<!-- COMNSysvarDao (システム変数マスタ)				-->
	<!-- ========================================== -->
	<bean id="COMNSysvarDao"
		class="tech3g.common.dao.impl.COMNSysvarDaoImpl" parent="baseDAO">
	</bean>

</beans>
