<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:config="http://www.sds.samsung.com/schema/service"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.sds.samsung.com/schema/service http://www.sds.samsung.com/schema/service/anyframe-service-2.0.xsd"
	>


	<!-- ========================================== -->
	<!-- キャッシュService						  	-->
	<!-- ========================================== -->
	<bean name="cacheService" id="anyframe.core.cache.ICacheService"
	   	  class="anyframe.core.cache.impl.DefaultCacheService">
	   <property name="cache" ref="cache" />
	</bean>

	<bean id="cache" factory-bean="cacheAdministrator" factory-method="getCache"/>

	<bean id="cacheAdministrator"
	      class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
	    <constructor-arg index="0">
	       <props>
	          <!-- cacheの属性定義 -->
	          <prop key="cache.memory">true</prop>
	          <prop key="cache.capacity">-1</prop>
	       </props>
	    </constructor-arg>
	</bean>


</beans>
