/********************************************************************************/
/* Top, Left Cascading Style Sheet                            */
/********************************************************************************/


body,td  {margin-top:0; margin-left:0; margin-right:0; margin-bottom:0;
          font-family:"MS PGothic"; font-size:9pt; color:#58595b; line-height:16px}

img      {border:0}

A:link    {font-size:9pt; color:#58595b; text-decoration:none}
A:visited {font-size:9pt; color:#58595b; text-decoration:none}
A:active  {font-size:9pt; color:#58595b; text-decoration:none}
A:hover   {font-size:9pt; color:#003664; text-decoration:none}


/********** Top Menu **********/
.util           {font-family:"arial"; font-size:11px; color:#626262; text-decoration:none; font-weight:bold}
.util A:link    {font-family:"arial"; font-size:11px; color:#626262; text-decoration:none; font-weight:bold}
.util A:visited {font-family:"arial"; font-size:11px; color:#626262; text-decoration:none; font-weight:bold}
.util A:active  {font-family:"arial"; font-size:11px; color:#626262; text-decoration:none; font-weight:bold}
.util A:hover   {font-family:"arial"; font-size:11px; color:#0054a6; text-decoration:none; font-weight:bold}

.menu           {font-size:14px; color:#3d3d3d; text-decoration:none; font-weight:bold; padding:0 30}
.menu A:link    {font-size:14px; color:#3d3d3d; text-decoration:none; font-weight:bold}
.menu A:visited {font-size:14px; color:#3d3d3d; text-decoration:none; font-weight:bold}
.menu A:active  {font-size:14px; color:#3d3d3d; text-decoration:none; font-weight:bold}
.menu A:hover   {font-size:14px; color:#085db9; text-decoration:none; font-weight:bold}

.tmenu           {font-size:9pt; color:#074180; text-decoration:none}
.tmenu A:link    {font-size:9pt; color:#074180; text-decoration:none}
.tmenu A:visited {font-size:9pt; color:#074180; text-decoration:none}
.tmenu A:active  {font-size:9pt; color:#074180; text-decoration:none}
.tmenu A:hover   {font-size:9pt; color:#ffffff; text-decoration:none}


/********** Left Menu **********/
.left_line {height:1px; background:#e6e6e6}


.3level_01 {height:4px; background:url(/images/common/lm3_01.gif)}
.3level_02           {background:url(/images/common/lm3_02.gif); padding:1 11 0 11; 
                      font-size:9pt; color:#006cb7; text-decoration:none}
.3level_02 A:link    {font-size:9pt; color:#006cb7; text-decoration:none}
.3level_02 A:visited {font-size:9pt; color:#006cb7; text-decoration:none}
.3level_02 A:active  {font-size:9pt; color:#006cb7; text-decoration:none}
.3level_02 A:hover   {font-size:9pt; color:#006cb7; text-decoration:none}
.3level_03 {height:4px; background:url(/images/common/lm3_03.gif)}


.3level_s01 {height:4px; background:url(/images/common/lm3o_01.gif)}
.3level_s02           {background:url(/images/common/lm3o_02.gif); padding:1 11 0 11; 
                       font-size:9pt; color:#ffffff; text-decoration:none}
.3level_s02 A:link    {font-size:9pt; color:#ffffff; text-decoration:none}
.3level_s02 A:visited {font-size:9pt; color:#ffffff; text-decoration:none}
.3level_s02 A:active  {font-size:9pt; color:#ffffff; text-decoration:none}
.3level_s02 A:hover   {font-size:9pt; color:#ffffff; text-decoration:none}
.3level_s03 {height:4px; background:url(/images/common/lm3o_03.gif)}


.4level           {background:url(/images/common/lm4.gif); padding:5 5 4 20; 
                   font-size:9pt; color:#858687; text-decoration:none}
.4level A:link    {font-size:9pt; color:#858687; text-decoration:none}
.4level A:visited {font-size:9pt; color:#858687; text-decoration:none}
.4level A:active  {font-size:9pt; color:#858687; text-decoration:none}
.4level A:hover   {font-size:9pt; color:#095697; text-decoration:none}

.4level_s           {background:url(/images/common/lm4o.gif); padding:5 5 4 20; 
                     font-size:9pt; color:#095697; text-decoration:none}
.4level_s A:link    {font-size:9pt; color:#095697; text-decoration:none}
.4level_s A:visited {font-size:9pt; color:#095697; text-decoration:none}
.4level_s A:active  {font-size:9pt; color:#095697; text-decoration:none}
.4level_s A:hover   {font-size:9pt; color:#095697; text-decoration:none}

.mypage_t         {background:url(/images/common/menu_text.gif); padding:1 5 0 28; font-size:9pt; color:#0046a1; height:25px; font-weight:bold}
.mypage           {background:url(/images/common/menu_mbg.gif); padding:1 5 0 28; font-size:9pt; color:#ffffff; height:25px}
.mypage A:link    {font-size:9pt; color:#ffffff; text-decoration:none}
.mypage A:visited {font-size:9pt; color:#ffffff; text-decoration:none}
.mypage A:active  {font-size:9pt; color:#ffffff; text-decoration:none}
.mypage A:hover   {font-size:9pt; color:#ffffff; text-decoration:none; font-weight:bold}

.mypage_s           {background:url(/images/common/menu_mbg.gif); padding:1 5 0 28; font-size:9pt; color:#4d8906; height:25px; font-weight:bold}
.mypage_s A:link    {font-size:9pt; color:#4d8906; text-decoration:none; font-weight:bold}
.mypage_s A:visited {font-size:9pt; color:#4d8906; text-decoration:none; font-weight:bold}
.mypage_s A:active  {font-size:9pt; color:#4d8906; text-decoration:none; font-weight:bold}
.mypage_s A:hover   {font-size:9pt; color:#4d8906; text-decoration:none; font-weight:bold}


.m4level           {background:url(/images/common/lm4.gif); padding:5 5 4 20; 
                   font-size:9pt; color:#858687; text-decoration:none}
.m4level A:link    {font-size:9pt; color:#858687; text-decoration:none}
.m4level A:visited {font-size:9pt; color:#858687; text-decoration:none}
.m4level A:active  {font-size:9pt; color:#858687; text-decoration:none}
.m4level A:hover   {font-size:9pt; color:#447c02; text-decoration:none}

.m4level_s           {background:url(/images/common/lm4om.gif); padding:5 5 4 20; 
                     font-size:9pt; color:#447c02; text-decoration:none}
.m4level_s A:link    {font-size:9pt; color:#447c02; text-decoration:none}
.m4level_s A:visited {font-size:9pt; color:#447c02; text-decoration:none}
.m4level_s A:active  {font-size:9pt; color:#447c02; text-decoration:none}
.m4level_s A:hover   {font-size:9pt; color:#447c02; text-decoration:none}



/********** Login **********/
.login   {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #dcdcdc; background:#ffffff; height:20px; padding:3 3 0 3}
.login_o {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #dcdcdc; background:#eef1f7; height:20px; padding:3 3 0 3}

.font_id {font-family:"Gulim"; font-size:9pt; color:#999999;}