@charset "UTF-8";


body,td  {margin-top:10; margin-left:10; margin-right:10; margin-bottom:10;
          font-family:"MS PGothic"; font-size:9pt; color:#666666; line-height:16px}

img      {border:0}

A:link    {font-size:9pt; color:#666666; text-decoration:underline}
A:visited {font-size:9pt; color:#666666; text-decoration:none}
A:active  {font-size:9pt; color:#666666; text-decoration:none}
A:hover   {font-size:9pt; color:#d24402; text-decoration:none}

h1 {float:left; margin-top:1px; padding-left:3px; text-indent:5px; background:#fff; font-size:15px; color:#0046a1; font-weight:bold; border-left:4px solid #6495ED; }
h2 {font-size:9pt; color:#0046a1; font-weight:bold; margin:0px; margin-top:10px;  background:url(../../images/common/icon_title.gif) no-repeat; background-position:left;padding-left:1.5em;}
h3 {font-size:9pt; color:#0046a1; font-weight:normal; margin:0; margin-top:5px; margin-left:2px; background:url(../../images/common/icon_stitle.gif) no-repeat; background-position:left;padding-left:1.0em;}


/*----------------------------------------------------
 項目関連
----------------------------------------------------*/
.input   {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #bebebe; background:#ffffff; height:18px; padding:2 2 0 2}
.input_o {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #bebebe; background:#eef1f7; height:18px; padding:2 2 0 2}
.input_d  {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #bebebe; background:#e2f0ee; height:18px; padding:2 2 0 2}
.input_er{
	font-family: "MS PGothic"; font-size:9pt; color:#666666; border:1px solid #bebebe; background:#FEC5D9; height:18px; padding:2 2 0 2
}
.input_readonlyr  {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:0px solid #ffffff; background:transparent; height:18px;
                  padding:2 2 0 2; text-align:right}
.input_readonly  {font-family: "MS PGothic"; font-size:9pt; color:#666666; border:0px solid #ffffff; background:transparent; height:18px;
                  padding:3 3 0 2}

/*----------------------------------------------------
 content部分
----------------------------------------------------*/
#container{
width:780px;
}

body > #content {
 height:auto;
}

#content{
  height:100%;
}
br { clear:both; }

table.content_i {width:100%; background-color:#F0F0F0; border:1px solid #CCC; margin-top:5px; margin-top: 5px; border-collapse:collapse; padding:1px;}
table.content   {width:100%; background-color:#FFF; border:1px solid #CCC; margin-top:0px; border-collapse:collapse; padding:1px;}
table.bottm     {border:0px;}

.content th,
.content_i th   {border:solid 1px #CCCCCC; }
.content td,
.content_i td   {border:solid 1px #CCCCCC;  }


/*----------------------------------------------------
 #button
----------------------------------------------------*/
.search           {font-size:9pt; color:#b8d1cc; text-decoration:none; padding:1 10 0 10; background:url(../../images/common/butt_sbg.gif)}
.search A:link    {font-size:9pt; color:#ffffff; text-decoration:none}
.search A:visited {font-size:9pt; color:#ffffff; text-decoration:none}
.search A:active  {font-size:9pt; color:#ffffff; text-decoration:none}
.search A:hover   {font-size:9pt; color:#b2fcef; text-decoration:none}

.dblue           {font-size:9pt; color:#8f92a1; text-decoration:none; padding:1 8 0 8; background:url(../../images/common/butt_gbg.gif)}
.dblue A:link    {font-size:9pt; color:#2d2e2e; text-decoration:none}
.dblue A:visited {font-size:9pt; color:#2d2e2e; text-decoration:none}
.dblue A:active  {font-size:9pt; color:#2d2e2e; text-decoration:none}
.dblue A:hover   {font-size:9pt; color:#0e72e1; text-decoration:none}

.brown           {font-size:9pt; color:#888789; text-decoration:none; padding:1 8 0 8; background:url(../../images/common/butt_bbg.gif); text-align:center}
.brown A:link    {font-size:9pt; color:#2d2e2e; text-decoration:none}
.brown A:visited {font-size:9pt; color:#2d2e2e; text-decoration:none}
.brown A:active  {font-size:9pt; color:#2d2e2e; text-decoration:none}
.brown A:hover   {font-size:9pt; color:#62633b; text-decoration:none}



/*----------------------------------------------------
 ウインドウ部分
----------------------------------------------------*/
.w00          {float:left; width:100%;}
.w00-1        {margin:0; padding:1px;/*background:#7076AA;border:solid 1px #7076AA;*/}
.w00-1bar     {display:block;}
.w00-1t       {background:#FFFFFF; display:table; width:100%; /*border-bottom:solid 1px #ccc;*/}
.w00-1t strong{ margin-top:1px; padding-left:3px; text-indent:0px; background:#FFFFFF; display:block;}
.w00-1t span  {margin:0px; float:right; text-align: right;}
.w00-1cnt     {background:#FFFFFF; clear:both; display:block;}
.w00-1cntIn   {background:#FFFFFF; display:block;}
.w00-1cntMn   {padding:5px;/*display:table;*//*中に入るTableタグがずれるためコメントアウト*/}


#w-1        {background:#E2904E;}
#w-1t       {background:#EF9E6C;border-top:solid 1px #F6C4A7;
/*border-left:solid 1px #F6C4A7;*//*IEだとレイアウトがずれるためコメント*/
/*border-bottom:solid 1px #fff;*/
}
#w-1t strong{background:#EF9E6C;}
#w-2        {background:#66B161;}
#w-2t       {background:#66B161;border-top:solid 1px #ABCFA5;/*border-left:solid 1px #ABCFA5;*/}
#w-2t strong{background:#66B161;}
#w-3        {background:#67ADEA;}
#w-3t       {background:#67ADEA;border-top:solid 1px #AACCFF;/*border-left:solid 1px #AACCFF;*/}
#w-3t strong{background:#67ADEA;}
#w-4        {background:#FFFF00;}
#w-4t       {background:#FFFF00;border-top:solid 1px #FFCC00;/*border-left:solid 1px #FFCC00;*/}
#w-4t strong{background:#FFFF00;}

/*----------------------------------------------------
Help＆manual
----------------------------------------------------*/
.help{
background:transparent url(../../images/common/butt_help.gif) no-repeat;
display:block;
margin:0;
height:20px;
width:62px;
text-indent:-9999px;
}
.manual{
background:transparent url(../../images/common/butt_manual.gif) no-repeat;
display:block;
margin-left:3px;
height:20px;
width:79px;
text-indent:-9999px;
}

/*----------------------------------------------------
IME定義
----------------------------------------------------*/
.ime_dis{ ime-mode:disabled; }
.ime_act{ ime-mode:active; }
.ime_iact{ ime-mode:inactive; }

/*----------------------------------------------------
整列
----------------------------------------------------*/
.r {text-align:right;}
.l {text-align:left;}
.c {text-align:center;}

/*----------------------------------------------------
一覧関連
----------------------------------------------------*/
.list_body_div {margin: 0 0 0 0;overflow-y:auto; width: 100%; }
.list_body_table {background-color: #CCCCCC;}
.list_head {background-color: #CCCCCC;}
.list_body {background-color:#F0F0F0;}


.td_w td{border:solid 0px;  margin: 0 0 0 0; }
.td_f td{border:solid 0px;  margin: 0 0 0 0; }
.td_f {background:#f9f7e0; color:#3d3d3d; height:20px; text-align:center}
.td_w {background:#ffffff; color:#666666; padding:0 2; word-break:break-all;}  /*input*/

table.list_table {width:100%;  border:solid 1px #CCCCCC; margin-top:5px; border-collapse:collapse; padding:0px;}
.list_table td  {border:solid 0px #CCCCCC; padding:0px; margin-top:0em; border-collapse:collapse;  }
.line0 {background-color: #FFFFFF;}
.line1 {background-color: #f9f7e0;}

table.list_table_plu_line {width:100%;  border:solid 1px #CCCCCC; margin-top:0em; border-collapse:collapse; padding:0px;}
table.list_table_plu_line td {border:solid 1px #CCCCCC; padding:0px; margin-top:0em; border-collapse:collapse; word-break:break-all;}
table.list_table_plu_line td td {border:0px; word-break:break-all;}
table.list_table_plu_line td td td {border:0px; word-break:break-all;}
table.list_table_plu_line td td td td {border:0px; word-break:break-all;}
table.list_table_plu_line td td td td td {border:0px; word-break:break-all;}


.head         {background:#e4ecf3; color:#3d3d3d; height:20px; text-align:center}
.table_bg {background:#dad8d9}




/*----------------------------------------------------
タブ
----------------------------------------------------*/
.UdTabs          {margin-top:10px;}
ul.UdTabNavi     {margin:0; padding:0; float:left; list-style:none; height:22px;
                  border-bottom:1px solid #999; border-left:1px solid #999;width: 100%;}
ul.UdTabNavi li  {margin:0; padding:0; float:left; height:21px; line-height:21px;
	              border:1px solid #999; border-left:none; margin-bottom:-1px;
	              overflow:hidden; position:relative; background:#e0e0e0;}
ul.UdTabNavi li a{text-decoration:none; color:#000; display:block; font-size:1.2em;
	              font-weight:normal; padding:0 20px; border:1px solid #fff; outline:none;}
ul.UdTabNavi li a:hover {color:#2887E3; font-weight:normal;}
html ul.UdTabNavi li.active,
html ul.UdTabNavi li.active a {background:#fff; border-bottom:1px solid #fff;
                               background-image:url(../../images/common/tab_navi.gif); font-weight:bold;}
html ul.UdTabNavi li.active a:hover {font-weight:bold;}
div.UdTabCon     {display:none;	margin:10px; width:100%;}
div.activeTab    {display:block;}
.tab_container   {border:1px solid #999; border-top:none; overflow:hidden; clear:both;
                  float:left; width:100%; background:#fff; padding:10px;}
.tab_content     {padding:20px; font-size:1.2em;}


/*----------------------------------------------------
iframe
----------------------------------------------------*/
.iframe_bg {margin-top:0; margin-left:0; margin-right:0; margin-bottom:0; background:#f3f3f2}

/*----------------------------------------------------
検索履歴用Layer
----------------------------------------------------*/
.layer_border {border:1px solid #b9b9b9}
.layer_line   {height:1px; background:#eeeeee}
.layer_close  {height:18px; background:#f8f8f8; text-align:right; padding-right:5px}

.layer_link             {font-size:9pt; color:#666666; text-decoration:none; padding:1 1}
.layer_link A:link      {font-size:9pt; color:#666666; text-decoration:none}
.layer_link A:visited   {font-size:9pt; color:#666666; text-decoration:none}
.layer_link A:active    {font-size:9pt; color:#666666; text-decoration:none}
.layer_link A:hover     {font-size:9pt; color:#666666; text-decoration:none}

.layer_s {scrollbar-face-color: #ffffff; scrollbar-shadow-color: #e5e5e5;
               scrollbar-highlight-color: #e5e5e5; scrollbar-3dlight-color: #ffffff;
               scrollbar-darkshadow-color: #ffffff; scrollbar-track-color: #ffffff;
               scrollbar-arrow-color: #999999;}


/*----------------------------------------------------
個人ステータスのスタイル
----------------------------------------------------*/
/* DV・ストーカー対象者 */
.dvstk {color:red;}

/*----------------------------------------------------
Fontスタイル
----------------------------------------------------*/
/* Bold */
.b {font-weight:bold;}

/*----------------------------------------------------
その他
----------------------------------------------------*/
/* 非表示 */
.nodisplay {
 display:none;
}



